.popup {
	display: none;
	background: white;
	@apply shadow-md rounded-lg;
	padding: 10px;
	z-index: 100000;
	position: relative;
	overflow: auto;
	max-height: 95vh;
}
.popupOpen {
	display: block;
}
.popupArrow {
	width: "10px";
	height: "10px";
	background: "inherit";
	position: "absolute";
}
