.modal-backdropp {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modall {
	position: relative;
	z-index: 2;
	background-color: #fefefe;
	left: 50%;
	top: 50%;
	max-height: 95dvh;
	/* transform: translateX(-50%); */
	transform: translate(-50%, -50%);
	/* pointer-events: none; */
	@apply  w-[95vh] md:max-w-lg lg:max-w-xl  max-w-[95vw] overflow-auto  my-auto rounded-md p-4  mx-auto inline-block border;
}
.modall-header {
	display: flex;
	justify-content: space-between;
	@apply border-b pb-1;
}
