/* offcanvas component start */
.b-offcanvas {
	position: fixed;
	top: 0px;
	max-width: 400px;
	box-shadow: 0px 0px 10px -2px black;
	width: 100%;
	height: 100vh;
	z-index: 100;
	/* background-color: rgb(var(--background-start-rgb)); */
	background-color: white;
}
.b-offcanvas.left {
	left: 0px;
}
.b-offcanvas.right {
	right: 0px;
}
.b-offcanvas-body,
.b-offcanvas-header {
	padding: 10px;
}
.b-offcanvas-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(var(--background-end-rgb));
	box-shadow: 0px 2px 5px -5px black;
}
.b-offcanvas-backdrop {
	opacity: 0.5;
	background-color: black;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: 99;
}
.b-offcanvas-item {
	padding-bottom: 5px;

	box-shadow: 0px 5px 5px -9px;
	margin: 0;
	font-size: small;
	margin-bottom: 1px;
	padding: 10px;
	border-bottom: 0.2px solid rgb(202, 202, 202);
}
.b-offcanvas-item:hover {
	color: #004ddb;
}
/* offcanvas component end */

/* spinner component start */
.b-spinner-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.b-spinner {
	animation: rotate 2s linear infinite;
	position: relative !important;
	& .path {
		stroke: hsl(210, 70, 75);
		stroke-linecap: round;
		animation: dash 1.5s ease-in-out infinite;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}

/* spinner component end */

/* spinner start*/

.b-loading,
.b-spinner {
	position: relative;
	width: 60px;
	height: 60px;
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border-top-color: #006eff;
	border-bottom-color: #006eff;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* spinner end */

/* spinner card start */
.b-card {
	/* border-radius: 1rem; */
	box-shadow: var(--box-shadow);
	overflow: hidden;
	background-color: white;
}
.b-card-header {
	font-size: var(--font-size-large);
	padding: 1rem;
	/* border-bottom: 1px solid rgb(var(--background-start-rgb)); */
	/* box-shadow: var(--box-shadow); */
}

/* spinner card end */
/* swipper start */
.b-swiper-outer-wrapper {
	display: flex;
	position: relative;
}
.b-swiper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: stretch;
	padding-bottom: 20px !important ;
}
.b-swiper-wrapper {
	position: relative;
	display: flex;
	align-items: stretch;
}

.b-swiper-slide:nth-child(2n),
.b-swiper-slide:nth-child(1n) {
	width: fit-content;
	max-width: 90%;
	height: auto;
}

.b-swiper-slide {
	background: #fff;
}

@media only screen and (max-width: 768px) {
	.b-swiper-button-next,
	.b-swiper-button-prev {
		display: none !important;
	}
	.b-swiper {
		position: relative;
	}
}
@media only screen and (min-width: 768px) {
	.b-swiper {
		position: static !important;
	}
	.b-swiper-outer-wrapper {
		padding-left: 40px;
		padding-right: 40px;
	}
}
.b-swiper-button-next,
.b-swiper-button-prev {
	width: 35px !important;
	height: 35px !important;
	/* @apply rounded-full bg-gray-200 border-primary-500 hover:bg-primary-100; */
}

.b-swiper-button-next::after,
.b-swiper-button-prev::after {
	/* @apply text-primary-500; */
	font-size: 1.2rem !important;
	font-weight: bolder;
}
/* swipper end */

/* player  start*/
/* @import url("./vedio-player.css"); */

/* player end*/

/* modal start*/
.b-modal-backdrop {
	/* display: none; Hidden by default */
	/* transition: display 1s ; */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.b-modal {
	position: relative;
	z-index: 2;
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	/* pointer-events: none; */
}
.b-modal-header {
	display: flex;
	justify-content: space-between;
}
/* modal end*/
/* form start*/
.b-input {
	padding: 10px;
	width: 100%;
	/* border-radius: 1rem; */
	@apply border rounded-lg
  /* border-color: var(--primary-color) !important;
  border: 0.4px solid; */;
}
.b-input:focus {
	outline-color: var(--primary-color) !important;
}
.b-form-field {
	margin-bottom: 0.8rem;
}
/* form end*/

/* pendding start*/
.b-health-graph {
	fill: none;
	stroke: #3498db;
	stroke-width: 2;
	stroke-linecap: round;
	animation: draw 2s infinite;
}

@keyframes draw {
	0% {
		/* stroke-dasharray: 0; */
		stroke-dashoffset: 200%;
	}
	100% {
		stroke-dasharray: 100%;
		/* stroke-dashoffset: 0; */
	}
}

/* pendding end*/

/* popup start*/
.b-popup {
	display: none;
	background: white;
	@apply shadow-md rounded-lg;
	padding: 10px;
	z-index: 1000;
	position: relative;
}
.b-popup.open {
	display: block;
}
.b-popup-arrow {
	width: "10px";
	height: "10px";
	background: "inherit";
	position: "absolute";
}

/* popup end*/

/* VideoPlayer start*/

.b-player-wrapper {
	position: relative;
	font-size: medium;
	min-width: 350px ;
	border-radius: 1em;
	overflow: hidden;
}

.b-video {
	width: 100%;
	height: 100%;
	background: black;
}

.b-video-progress-container {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	height: 0.2em;
	background-color: #a1a1a1; /* Background for the unloaded part */
	border-radius: 4px;
}
.b-video-loaded-progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #e6e6e6; /* Background for the loaded part */
}

.b-video-progress {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 0.2em;
	background: transparent; /* Make the background of the range input transparent */
}

.b-video-controls-wrapper {
	position: absolute;
	background: linear-gradient(#00000019, #00000099);
	z-index: 2;
	bottom: 0px;
	width: 100%;
	color: #ececec;
	padding-left: 0.2em;
	padding-right: 0.2em;
	transition: opacity ease-in 1s;
}

.b-video-controls-wrapper:hover {
	transition: opacity ease-in 100ms;
}

.b-video-options-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
	gap: 8px;
}

.b-player-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.progress-display-text {
	font-size: small;
}

/* CSS variables */
:root {
	--hue: 0;
	--white: hsl(0, 0%, 100%);
	--lt-gray: hsl(var(--hue), 10%, 95%);
	--primary0: hsl(var(--hue), 90%, 95%);
	--primary1: hsl(var(--hue), 90%, 90%);
	--primary3: hsl(var(--hue), 90%, 50%);
	--primary4: hsl(var(--hue), 90%, 30%);
	--primary5: hsl(var(--hue), 90%, 10%);
	--trans-dur: 0.3s;
}
/* Main styles */

.range__input {
	--percent: 50%;
	/* background-color: var(--primary1); */
	background-image: linear-gradient(var(--primary3), var(--primary3));
	background-repeat: no-repeat;
	border-radius: 0.2em;
	display: block;
	width: 100%;
	height: 0.2em;
	transition: background-color var(--trans-dur);
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.range__input:focus {
	outline: transparent;
}
/* WebKit */
.range__input::-webkit-slider-thumb {
	background-color: var(--white);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0.125em 0.5em hsl(0, 0%, 0%, 0.3);
	width: 1em;
	height: 1em;
	transition: background-color 0.15s linear;
	-webkit-appearance: none;
	appearance: none;
}
.range__input:focus::-webkit-slider-thumb,
.range__input::-webkit-slider-thumb:hover {
	background-color: var(--lt-gray);
}
.range__input:hover::-webkit-slider-thumb,
.range__input::-webkit-slider-thumb:hover {
	opacity: 1;
}
/* Firefox */
.range__input::-moz-range-thumb {
	opacity: 0;
	background-color: var(--white);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0.125em 0.5em hsl(0, 0%, 0%, 0.3);
	width: 1em;
	height: 1em;
	transition: background-color 0.15s linear;
}
.range__input:focus::-moz-range-thumb,
.range__input::-moz-range-thumb:hover {
	background-color: var(--lt-gray);
}
.range__input:hover::-moz-range-thumb,
.range__input::-moz-range-thumb:hover {
	opacity: 1;
}
/* Continue main styles */

.range__output,
.range__output:after {
	position: absolute;
}

.range__output,
.range__output:after {
	transform: translateX(-50%);
}
.range__output {
	display: none;
	--percent: 50%;
	background-color: var(--primary3);
	border-radius: 0.25em;
	color: var(--white);
	padding: 0em 0.2em;
	bottom: calc(100% + 0.8em);
	left: var(--percent);
	text-align: center;
	transition: background-color var(--trans-dur);
	font-size: small;
}
.range__output:after {
	border-top: 0.3em solid var(--primary3);
	border-left: 0.3em solid transparent;
	border-right: 0.3em solid transparent;
	content: "";
	display: block;
	top: calc(100% - 1px);
	left: 50%;
	width: 0;
	height: 0;
}
.range__output-value-track {
	inset: 0;
	/* overflow: hidden; */
}
.range__output-values {
	--transX: 0;
	display: block;
	align-items: center;
	white-space: nowrap;
	top: 0;
	left: 0;
	height: 100%;
	transform: translateX(var(--transX));
	transition: transform 0.15s linear;
}

/* `:focus-visible` support */
@supports selector(:focus-visible) {
	.range__input:focus::-webkit-slider-thumb {
		background-color: var(--white);
	}
	.range__input:focus-visible::-webkit-slider-thumb,
	.range__input::-webkit-slider-thumb:hover {
		background-color: var(--lt-gray);
	}
	.range__input:focus::-moz-range-thumb {
		background-color: var(--white);
	}
	.range__input:focus-visible::-moz-range-thumb,
	.range__input::-moz-range-thumb:hover {
		background-color: var(--lt-gray);
	}
}
/* VideoPlayer end*/
