.playerWrapper {
	@apply flex;
	position: relative;
	box-sizing: border-box;
	font-size: medium;

	min-width: 350px;
	border-radius: 1rem;
	overflow: hidden;
	--hue: 0;
	--white: hsl(0, 0%, 100%);
	--lt-gray: hsl(var(--hue), 10%, 95%);
	--primary0: hsl(var(--hue), 90%, 95%);
	--primary1: hsl(var(--hue), 90%, 90%);
	--primary3: hsl(var(--hue), 90%, 50%);
	--primary4: hsl(var(--hue), 90%, 30%);
	--primary5: hsl(var(--hue), 90%, 10%);
	--trans-dur: 0.3s;
}

.btn {
	@apply p-1 flex justify-center items-center min-h-full h-8 bg-none cursor-pointer ;
}
.volumeInput {
	@apply w-full rounded-lg appearance-none cursor-pointer
	[&::-webkit-slider-runnable-track]:rounded-full 
	[&::-webkit-slider-runnable-track]:bg-gray-400 
	[&::-webkit-slider-runnable-track]:h-[0.2rem] 
	[&::-webkit-slider-thumb]:appearance-none 
	[&::-webkit-slider-thumb]:w-3 
	[&::-webkit-slider-thumb]:h-3 
	[&::-webkit-slider-thumb]:bg-white 
	[&::-webkit-slider-thumb]:rounded-full 
	[&::-webkit-slider-thumb]:border 
	[&::-webkit-slider-thumb]:border-none 
	[&::-webkit-slider-runnable-track]:bg-gradient-to-r from-red-500 to-gray-200
	[&::-moz-range-thumb]:w-3 
	[&::-moz-range-thumb]:h-3 
	[&::-moz-range-thumb]:bg-white 
	[&::-moz-range-thumb]:rounded-full 
	[&::-moz-range-thumb]:border 
	[&::-moz-range-thumb]:border-none
	[&::-moz-range-track]:bg-gray-200 
	[&::-moz-range-track]:h-[0.2rem] 
	[&::-moz-range-progress]:bg-red-500 
	[&::-moz-range-progress]:h-[0.2rem]
	[&::-ms-fill-lower]:bg-red-500 
	[&::-ms-fill-upper]:bg-gray-200;
	background: none;
}
.video {
	width: 100%;
	height: 100%;
	background: black;
	@apply aspect-video;
}
.videoProgressContainerWrapper {
	@apply flex mx-1;
}
.videoProgressContainer {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 1rem;
	border-radius: 4px;
}
.videoLoadedProgress,
.videoProgressBackground,
.videoProgress {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.videoLoadedProgress,
.videoProgressBackground {
	top: 50%;
	height: 0.2rem;
	transform: translateY(-50%);
}

.videoProgress {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100% !important;
	background: transparent; /* Make the background of the range input transparent */
	background-position-y: center;
	background-size: 0rem 0.2rem;
}
.videoProgressBackground {
	background-color: #a1a1a1; /* Background for the unloaded part */
	width: 100%;
}

.videoControlsWrapper {
	position: absolute;
	background: linear-gradient(#00000019, #00000099);
	z-index: 2;
	bottom: 0px;
	width: 100%;
	color: #ececec;
	transition: opacity ease-in 1s;
}

.videoControlsWrapper:hover {
	transition: opacity ease-in 100ms;
}

.videoOptionsWrapper {
	@apply m-1  pt-0 mt-0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.wideFull {
	@apply w-full;
}
.wFull {
	@apply w-full;
}
.msAuto {
	@apply ml-auto;
}
.mxW16 {
	/* /* @apply max-w-10; */
}
.slate600 {
	@apply text-slate-600;
}
.popupHover {
	@apply hover:cursor-pointer hover:bg-slate-200;
}
.popupHoverSlate200 {
	@apply bg-slate-200;
}
.blok {
	@apply block;
}
.overlayIcon {
	@apply text-slate-200 bg-[hsl(206,78%,51%)] rounded-full p-2 ease-in ;
}

.playerOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.progressDisplayText {
	font-size: small;
}

.rangeInput {
	--percent: 50%;
	/* background-color: var(--primary1); */
	background-image: linear-gradient(var(--primary3), var(--primary3));
	background-repeat: no-repeat;
	border-radius: 0.2em;
	display: block;
	width: 100%;
	height: 1em;
	transition: background-color var(--trans-dur);
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.rangeInput:focus {
	outline: transparent;
}
/* WebKit */
.rangeInput::-webkit-slider-thumb {
	background-color: var(--white);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0.125em 0.5em hsl(0, 0%, 0%, 0.3);
	width: 1em;
	height: 1em;
	transition: background-color 0.15s linear;
	-webkit-appearance: none;
	appearance: none;
}
.rangeInput:focus::-webkit-slider-thumb,
.rangeInput::-webkit-slider-thumb:hover {
	background-color: var(--lt-gray);
}
.rangeInput:hover::-webkit-slider-thumb,
.rangeInput::-webkit-slider-thumb:hover {
	opacity: 1;
}
/* Firefox */
.rangeInput::-moz-range-thumb {
	opacity: 0;
	background-color: var(--white);
	border: 0;
	border-radius: 50%;
	box-shadow: 0 0.125em 0.5em hsl(0, 0%, 0%, 0.3);
	width: 1em;
	height: 1em;
}
.rangeInput:focus::-moz-range-thumb,
.rangeInput::-moz-range-thumb:hover {
	background-color: var(--lt-gray);
}
.rangeInput:hover::-moz-range-thumb,
.rangeInput::-moz-range-thumb:hover {
	opacity: 1;
}
/* Continue main styles */

.rangeOutput,
.rangeOutput:after {
	position: absolute;
}

.rangeOutput,
.rangeOutput:after {
	transform: translateX(-50%);
}
.rangeOutput {
	display: none;
	--percent: 50%;
	background-color: var(--primary3);
	border-radius: 0.25em;
	color: var(--white);
	padding: 0em 0.2em;
	bottom: calc(100% + 0.4em);
	left: var(--percent);
	text-align: center;
	transition: background-color var(--trans-dur);
	font-size: small;
}
.rangeOutput:after {
	border-top: 0.3em solid var(--primary3);
	border-left: 0.3em solid transparent;
	border-right: 0.3em solid transparent;
	content: "";
	display: block;
	top: calc(100% - 1px);
	left: 50%;
	width: 0;
	height: 0;
}
.rangeOutput-value-track {
	inset: 0;
	/* overflow: hidden; */
}
.rangeOutput-values {
	--transX: 0;
	display: block;
	align-items: center;
	white-space: nowrap;
	top: 0;
	left: 0;
	height: 100%;
	transform: translateX(var(--transX));
	transition: transform 0.15s linear;
}

/* `:focus-visible` support */
@supports selector(:focus-visible) {
	.rangeInput:focus::-webkit-slider-thumb {
		background-color: var(--white);
	}
	.rangeInput:focus-visible::-webkit-slider-thumb,
	.rangeInput::-webkit-slider-thumb:hover {
		background-color: var(--lt-gray);
	}
	.rangeInput:focus::-moz-range-thumb {
		background-color: var(--white);
	}
	.rangeInput:focus-visible::-moz-range-thumb,
	.rangeInput::-moz-range-thumb:hover {
		background-color: var(--lt-gray);
	}
}
